body.logged-in {
    background-color: #2c4158 !important
}

* {
    border-color: #324554 !important
}

.route-home .tweet,
.route-home .tweet:hover,
.route-profile .tweet,
.route-profile .tweet:hover,
.TwitterCardsGrid .tweet,
.TwitterCardsGrid .tweet:hover,
.route-connect .tweet,
.route-connect .tweet:hover {
    background: #1B2836;
    color: #fff
}

.route-home .tweet,
.route-profile .tweet,
.TwitterCardsGrid .tweet,
.route-connect .tweet {
    border-bottom: 1px solid #324554
}

.route-home .fullname,
.route-profile .fullname,
.TwitterCardsGrid .fullname,
.route-connect .fullname {
    color: #fff
}

.route-home h2.TwitterCard-title,
.route-profile h2.TwitterCard-title,
.TwitterCardsGrid h2.TwitterCard-title,
.route-connect h2.TwitterCard-title {
    color: #fff
}

.route-home .SummaryCard-content p,
.route-profile .SummaryCard-content p,
.TwitterCardsGrid .SummaryCard-content p,
.route-connect .SummaryCard-content p {
    color: #fff
}

.route-home .QuoteTweet-fullname,
.route-profile .QuoteTweet-fullname,
.TwitterCardsGrid .QuoteTweet-fullname,
.route-connect .QuoteTweet-fullname {
    color: #fff
}

.route-home .QuoteTweet-text,
.route-profile .QuoteTweet-text,
.TwitterCardsGrid .QuoteTweet-text,
.route-connect .QuoteTweet-text {
    color: #fff
}

.route-home .TwitterCard-container,
.route-profile .TwitterCard-container,
.TwitterCardsGrid .TwitterCard-container,
.route-connect .TwitterCard-container {
    border-color: #324554
}

.route-home .DashboardProfileCard-content,
.route-profile .DashboardProfileCard-content,
.TwitterCardsGrid .DashboardProfileCard-content,
.route-connect .DashboardProfileCard-content {
    background: #1b2836
}

.route-home .DashboardProfileCard-name,
.route-profile .DashboardProfileCard-name,
.TwitterCardsGrid .DashboardProfileCard-name,
.route-connect .DashboardProfileCard-name {
    color: #fff
}

.route-home .ProfileCardStats-statValue,
.route-profile .ProfileCardStats-statValue,
.TwitterCardsGrid .ProfileCardStats-statValue,
.route-connect .ProfileCardStats-statValue {
    color: #fff
}

.route-home .DashboardProfileCard-avatarImage,
.route-home .DashboardProfileCard-avatarLink,
.route-profile .DashboardProfileCard-avatarImage,
.route-profile .DashboardProfileCard-avatarLink,
.TwitterCardsGrid .DashboardProfileCard-avatarImage,
.TwitterCardsGrid .DashboardProfileCard-avatarLink,
.route-connect .DashboardProfileCard-avatarImage,
.route-connect .DashboardProfileCard-avatarLink {
    border-color: #1b2836
}

.route-home .DashboardProfileCard-bg,
.route-profile .DashboardProfileCard-bg,
.TwitterCardsGrid .DashboardProfileCard-bg,
.route-connect .DashboardProfileCard-bg {
    border-bottom: none
}

.route-home .module .flex-module,
.route-profile .module .flex-module,
.TwitterCardsGrid .module .flex-module,
.route-connect .module .flex-module {
    background-color: #1b2836
}

.route-home .Trends,
.route-profile .Trends,
.TwitterCardsGrid .Trends,
.route-connect .Trends {
    background-color: #1b2836
}

.route-home .u-sizeFit,
.route-profile .u-sizeFit,
.TwitterCardsGrid .u-sizeFit,
.route-connect .u-sizeFit {
    color: #fff
}

.route-home .TwitterCard-container--clickable:hover,
.route-profile .TwitterCard-container--clickable:hover,
.TwitterCardsGrid .TwitterCard-container--clickable:hover,
.route-connect .TwitterCard-container--clickable:hover {
    background: #1B2836
}

.route-home .Trends .trend-location,
.route-profile .Trends .trend-location,
.TwitterCardsGrid .Trends .trend-location,
.route-connect .Trends .trend-location {
    color: #fff
}

.route-home .wtf-module h3,
.route-profile .wtf-module h3,
.TwitterCardsGrid .wtf-module h3,
.route-connect .wtf-module h3 {
    color: #fff
}

.route-home .home-tweet-box,
.route-home .LiveVideo-tweetBox,
.route-home .RetweetDialog-commentBox,
.route-home .WebToast-box--altColor,
.route-home .modal-container.tweet-showing .modal-tweet,
.route-home .RetweetDialog-footer,
.route-home .modal-header,
.route-home .inline-reply-tweetbox,
.route-home .suggested-tweet-stream .tweet:hover,
.route-home .suggested-tweet-stream,
.route-home .permalink .in-reply-to .stream-item,
.route-home .permalink .in-reply-to .stream-item .tweet:hover,
.route-home .conversation-module .conversation-tweet-item .tweet:hover,
.route-home .permalink.light-inline-actions.stream-uncapped.has-replies.original-permalink-page,
.route-home .DashboardProfileCard-avatarLink,
.route-home .ProfileCard,
.route-home .stream-end-inner,
.route-home .social-proof-label,
.route-home ol.conversation-module.stream-items.js-navigable-stream.collapsed-ancestors,
.route-home .stream-item.has-recap.stream-item.separated-module,
.route-profile .home-tweet-box,
.route-profile .LiveVideo-tweetBox,
.route-profile .RetweetDialog-commentBox,
.route-profile .WebToast-box--altColor,
.route-profile .modal-container.tweet-showing .modal-tweet,
.route-profile .RetweetDialog-footer,
.route-profile .modal-header,
.route-profile .inline-reply-tweetbox,
.route-profile .suggested-tweet-stream .tweet:hover,
.route-profile .suggested-tweet-stream,
.route-profile .permalink .in-reply-to .stream-item,
.route-profile .permalink .in-reply-to .stream-item .tweet:hover,
.route-profile .conversation-module .conversation-tweet-item .tweet:hover,
.route-profile .permalink.light-inline-actions.stream-uncapped.has-replies.original-permalink-page,
.route-profile .DashboardProfileCard-avatarLink,
.route-profile .ProfileCard,
.route-profile .stream-end-inner,
.route-profile .social-proof-label,
.route-profile ol.conversation-module.stream-items.js-navigable-stream.collapsed-ancestors,
.route-profile .stream-item.has-recap.stream-item.separated-module,
.TwitterCardsGrid .home-tweet-box,
.TwitterCardsGrid .LiveVideo-tweetBox,
.TwitterCardsGrid .RetweetDialog-commentBox,
.TwitterCardsGrid .WebToast-box--altColor,
.TwitterCardsGrid .modal-container.tweet-showing .modal-tweet,
.TwitterCardsGrid .RetweetDialog-footer,
.TwitterCardsGrid .modal-header,
.TwitterCardsGrid .inline-reply-tweetbox,
.TwitterCardsGrid .suggested-tweet-stream .tweet:hover,
.TwitterCardsGrid .suggested-tweet-stream,
.TwitterCardsGrid .permalink .in-reply-to .stream-item,
.TwitterCardsGrid .permalink .in-reply-to .stream-item .tweet:hover,
.TwitterCardsGrid .conversation-module .conversation-tweet-item .tweet:hover,
.TwitterCardsGrid .permalink.light-inline-actions.stream-uncapped.has-replies.original-permalink-page,
.TwitterCardsGrid .DashboardProfileCard-avatarLink,
.TwitterCardsGrid .ProfileCard,
.TwitterCardsGrid .stream-end-inner,
.TwitterCardsGrid .social-proof-label,
.TwitterCardsGrid ol.conversation-module.stream-items.js-navigable-stream.collapsed-ancestors,
.TwitterCardsGrid .stream-item.has-recap.stream-item.separated-module,
.route-connect .home-tweet-box,
.route-connect .LiveVideo-tweetBox,
.route-connect .RetweetDialog-commentBox,
.route-connect .WebToast-box--altColor,
.route-connect .modal-container.tweet-showing .modal-tweet,
.route-connect .RetweetDialog-footer,
.route-connect .modal-header,
.route-connect .inline-reply-tweetbox,
.route-connect .suggested-tweet-stream .tweet:hover,
.route-connect .suggested-tweet-stream,
.route-connect .permalink .in-reply-to .stream-item,
.route-connect .permalink .in-reply-to .stream-item .tweet:hover,
.route-connect .conversation-module .conversation-tweet-item .tweet:hover,
.route-connect .permalink.light-inline-actions.stream-uncapped.has-replies.original-permalink-page,
.route-connect .DashboardProfileCard-avatarLink,
.route-connect .ProfileCard,
.route-connect .stream-end-inner,
.route-connect .social-proof-label,
.route-connect ol.conversation-module.stream-items.js-navigable-stream.collapsed-ancestors,
.route-connect .stream-item.has-recap.stream-item.separated-module {
    background-color: #1B2836
}

.route-home .modal-header,
.route-profile .modal-header,
.TwitterCardsGrid .modal-header,
.route-connect .modal-header {
    border-bottom-color: #324554
}

.route-home .permalink .in-reply-to .tweet,
.route-home .permalink .replies-to .tweet,
.route-home .permalink.has-replies .inline-reply-tweetbox,
.route-profile .permalink .in-reply-to .tweet,
.route-profile .permalink .replies-to .tweet,
.route-profile .permalink.has-replies .inline-reply-tweetbox,
.TwitterCardsGrid .permalink .in-reply-to .tweet,
.TwitterCardsGrid .permalink .replies-to .tweet,
.TwitterCardsGrid .permalink.has-replies .inline-reply-tweetbox,
.route-connect .permalink .in-reply-to .tweet,
.route-connect .permalink .replies-to .tweet,
.route-connect .permalink.has-replies .inline-reply-tweetbox {
    border-color: #324554
}

.route-home li.missing-tweets-bar,
.route-profile li.missing-tweets-bar,
.TwitterCardsGrid li.missing-tweets-bar,
.route-connect li.missing-tweets-bar {
    background-color: #243447
}

.route-home p.TweetTextSize.js-tweet-text.tweet-text,
.route-home .modal-header .modal-title,
.route-home h3.promoted-heading,
.route-home .profile-card-listName,
.route-home .missing-tweets-link,
.route-home .missing-tweets-link:hover,
.route-home .u-textTruncate,
.route-home .PollXChoice-choice--text,
.route-home .bio-container,
.route-home .FollowStatus,
.route-home .tweet.permalink-tweet,
.route-home .recap-header,
.route-profile p.TweetTextSize.js-tweet-text.tweet-text,
.route-profile .modal-header .modal-title,
.route-profile h3.promoted-heading,
.route-profile .profile-card-listName,
.route-profile .missing-tweets-link,
.route-profile .missing-tweets-link:hover,
.route-profile .u-textTruncate,
.route-profile .PollXChoice-choice--text,
.route-profile .bio-container,
.route-profile .FollowStatus,
.route-profile .tweet.permalink-tweet,
.route-profile .recap-header,
.TwitterCardsGrid p.TweetTextSize.js-tweet-text.tweet-text,
.TwitterCardsGrid .modal-header .modal-title,
.TwitterCardsGrid h3.promoted-heading,
.TwitterCardsGrid .profile-card-listName,
.TwitterCardsGrid .missing-tweets-link,
.TwitterCardsGrid .missing-tweets-link:hover,
.TwitterCardsGrid .u-textTruncate,
.TwitterCardsGrid .PollXChoice-choice--text,
.TwitterCardsGrid .bio-container,
.TwitterCardsGrid .FollowStatus,
.TwitterCardsGrid .tweet.permalink-tweet,
.TwitterCardsGrid .recap-header,
.route-connect p.TweetTextSize.js-tweet-text.tweet-text,
.route-connect .modal-header .modal-title,
.route-connect h3.promoted-heading,
.route-connect .profile-card-listName,
.route-connect .missing-tweets-link,
.route-connect .missing-tweets-link:hover,
.route-connect .u-textTruncate,
.route-connect .PollXChoice-choice--text,
.route-connect .bio-container,
.route-connect .FollowStatus,
.route-connect .tweet.permalink-tweet,
.route-connect .recap-header {
    color: #fff
}

.route-home .permalink .stream-end-inner,
.route-home .FollowStatus,
.route-profile .permalink .stream-end-inner,
.route-profile .FollowStatus,
.TwitterCardsGrid .permalink .stream-end-inner,
.TwitterCardsGrid .FollowStatus,
.route-connect .permalink .stream-end-inner,
.route-connect .FollowStatus {
    background-color: #324554
}

.route-home .ProfileCard-avatarLink,
.route-profile .ProfileCard-avatarLink,
.TwitterCardsGrid .ProfileCard-avatarLink,
.route-connect .ProfileCard-avatarLink {
    border-color: #1B2836 !important
}

.route-home .QuoteTweet-text a,
.route-home .QuoteTweet .tweet-content,
.route-home .QuoteTweet-text a,
.route-home .QuoteTweet-text a:hover,
.route-home .QuoteTweet-text a:focus,
.route-home .QuoteTweet-text a:active,
.route-home .QuoteTweet-text .pretty-link b,
.route-home .QuoteTweet-text .pretty-link s,
.route-home .QuoteTweet-text .pretty-link:hover b,
.route-home .QuoteTweet-text .pretty-link:hover s,
.route-home .QuoteTweet-text .pretty-link:focus b,
.route-home .QuoteTweet-text .pretty-link:focus s,
.route-home .QuoteTweet-text .pretty-link:active b,
.route-home .QuoteTweet-text .pretty-link:active s,
.route-home .fullname,
.route-profile .QuoteTweet-text a,
.route-profile .QuoteTweet .tweet-content,
.route-profile .QuoteTweet-text a,
.route-profile .QuoteTweet-text a:hover,
.route-profile .QuoteTweet-text a:focus,
.route-profile .QuoteTweet-text a:active,
.route-profile .QuoteTweet-text .pretty-link b,
.route-profile .QuoteTweet-text .pretty-link s,
.route-profile .QuoteTweet-text .pretty-link:hover b,
.route-profile .QuoteTweet-text .pretty-link:hover s,
.route-profile .QuoteTweet-text .pretty-link:focus b,
.route-profile .QuoteTweet-text .pretty-link:focus s,
.route-profile .QuoteTweet-text .pretty-link:active b,
.route-profile .QuoteTweet-text .pretty-link:active s,
.route-profile .fullname,
.TwitterCardsGrid .QuoteTweet-text a,
.TwitterCardsGrid .QuoteTweet .tweet-content,
.TwitterCardsGrid .QuoteTweet-text a,
.TwitterCardsGrid .QuoteTweet-text a:hover,
.TwitterCardsGrid .QuoteTweet-text a:focus,
.TwitterCardsGrid .QuoteTweet-text a:active,
.TwitterCardsGrid .QuoteTweet-text .pretty-link b,
.TwitterCardsGrid .QuoteTweet-text .pretty-link s,
.TwitterCardsGrid .QuoteTweet-text .pretty-link:hover b,
.TwitterCardsGrid .QuoteTweet-text .pretty-link:hover s,
.TwitterCardsGrid .QuoteTweet-text .pretty-link:focus b,
.TwitterCardsGrid .QuoteTweet-text .pretty-link:focus s,
.TwitterCardsGrid .QuoteTweet-text .pretty-link:active b,
.TwitterCardsGrid .QuoteTweet-text .pretty-link:active s,
.TwitterCardsGrid .fullname,
.route-connect .QuoteTweet-text a,
.route-connect .QuoteTweet .tweet-content,
.route-connect .QuoteTweet-text a,
.route-connect .QuoteTweet-text a:hover,
.route-connect .QuoteTweet-text a:focus,
.route-connect .QuoteTweet-text a:active,
.route-connect .QuoteTweet-text .pretty-link b,
.route-connect .QuoteTweet-text .pretty-link s,
.route-connect .QuoteTweet-text .pretty-link:hover b,
.route-connect .QuoteTweet-text .pretty-link:hover s,
.route-connect .QuoteTweet-text .pretty-link:focus b,
.route-connect .QuoteTweet-text .pretty-link:focus s,
.route-connect .QuoteTweet-text .pretty-link:active b,
.route-connect .QuoteTweet-text .pretty-link:active s,
.route-connect .fullname {
    color: #459BE6
}

.route-home .TweetBox-photoIntent .photo-selector .btn,
.route-profile .TweetBox-photoIntent .photo-selector .btn,
.TwitterCardsGrid .TweetBox-photoIntent .photo-selector .btn,
.route-connect .TweetBox-photoIntent .photo-selector .btn {
    border-color: transparent !important
}

.route-profile .ProfileCanopy-navBar,
.route-profile .WhoToFollow,
.route-profile .ProfileNav-item--userActions {
    background-color: #1B2836
}

.route-profile .ProfileNav-value,
.route-profile .WhoToFollow-users .fullname,
.route-profile .ProfileNav-item.is-active .ProfileNav-value,
.route-profile .ProfileNav-item.is-active:hover .ProfileNav-value,
.route-profile .Footer-link {
    color: #459BE6
}

.route-profile .ProfileHeading-content {
    background-color: #1B2836
}

.route-profile .ProfileHeading-toggleItem.is-active,
.route-profile .ProfileHeading-toggleItem.is-active:hover,
.route-profile .ProfileHeading-toggleItem.is-active:focus,
.route-profile .ProfileHeaderCard-bio,
.route-profile .ProfileHeaderCard-locationText,
.route-profile .ProfileHeaderCard-joinDateText,
.route-profile .ProfileHeaderCard-birthdateText,
.route-profile .ProfileHeaderCard-vineProfileText,
.route-profile .ProfileHeaderCard-onlineHoursText {
    color: #fff
}

.route-profile .flex-module {
    background-color: transparent !important
}

.route-profile .ProfileHeaderCard-nameLink,
.route-profile .Footer-link,
.route-profile .ProfileHeaderCard-urlText {
    color: #459BE6 !important
}

.ProfileCard-bio,
.ProfileCard-locationAndUrl {
    color: #8899a6 !important
}

.route-connect .ProfileHeading-toggle,
.route-connect .stream-item {
    background-color: #1B2836 !important
}

.route-connect .stream-item-activity-line {
    color: #8899a6 !important
}

.route-connect .ProfileHeading-toggleItem.is-active,
.route-connect .ProfileHeading-toggleItem.is-active:hover {
    color: #fff
}

.ActivityItem-displayText {
    color: #fff
}

.DMActivity .DMActivity-header,
.DMActivity .DirectMessage--received .Caret:before,
.DMActivity .DMActivity-body {
    background-color: #1B2836
}

.DMActivity .DMNotice,
.DMActivity .DMInboxItem:hover,
.DMActivity .DMInboxItem.is-unread,
.DMActivity .DirectMessage--received .DirectMessage-message,
.DMActivity .DirectMessage--received .DirectMessage-text,
.DMActivity .DMConversation-composer,
.DMActivity .DMPopoverMenu {
    background-color: #2c4158 !important
}

.DMActivity .FoundMediaSearch-content.Caret:after {
    border-color: #1B2836
}

.DMActivity .DMPopover-content.Caret:after,
.DMActivity .DirectMessage--received .Caret:before,
.DMActivity .DMInbox-toolbar.DMComposeButton:focus {
    border-color: #2c4158 !important
}

.DMActivity .DirectMessage--received .DirectMessage-message.with-text.Caret.Caret--left.dm-message:before {
    border-bottom-color: transparent !important;
    border-top-color: transparent !important
}

.DMActivity .Caret--top:before,
.DMActivity .Caret--top.Caret--stroked:after {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important
}

.DMActivity .EdgeButton.EdgeButton--primary.tweet-action {
    background-color: #459BE6
}

.QuoteTweet-container {
    background-color: #1B2836 !important;
    border-color: #459BE6 !important
}

.DirectMessage--sent .Caret:before,
.DirectMessage--sent .Caret:after {
    border-left-color: transparent !important
}

.DirectMessage--sent .QuoteTweet,
.DirectMessage--sent .QuoteTweet:hover {
    border-color: #459BE6 !important
}

.u-textUserColor {
    color: #459BE6 !important
}

#global-actions>li>a {
    border-color: #1DA1F2 !important
}

.global-nav-inner {
    background-color: #243447 !important
}

.nav>li>a .text {
    color: #fff !important
}

.nav .Icon--home:before,
.nav .Icon--notifications:before,
.nav .Icon--dm:before,
.nav .Icon--lightning:before {
    color: #1DA1F2 !important
}

.stream-container .new-tweets-bar,
.stream-container .new-tweets-bar:hover {
    background: #243447;
    color: #fff;
    border-color: #324554
}

.Trends--blankBackground,
.Footer--blankBackground,
.tweet.permalink-tweet,
.permalink-inner.permalink-tweet-container,
.dropdown-menu,
.stream.suggested-tweet-stream.permalink-replies,
.tweet,
.tweet:hover,
.ThreadedConversation-viewOther,
.permalink,
.modal-content,
.modal-header,
.PollingCardComposer,
.profile-card,
.ProfileCard,
.profile-social-proof,
.GridTimeline-items,
.hovercard.gravity-south:not(.with-banner) .arrow,
.hovercard .arrow,
.ThreadedConversation-showMore {
    background-color: #1B2836 !important
}

.DashUserDropdown.dropdown-menu li>a,
.DashUserDropdown.dropdown-menu li>button {
    color: #fff
}

.GridTimeline-items .Grid:first-child .ProfileListItem {
    border-top: 0
}

.FoundMediaSearch-query {
    background-image: none
}

.inline-reply-tweetbox.swift,
.thumbnail-container,
.FollowStatus,
.FoundMediaSearch-query,
.GridTimeline-footerIcon,
.GridTimeline-footer:before {
    background-color: #2c4158 !important
}

.FoundMediaSearch-content.Caret:after {
    border-color: #2c4158
}

.tweet.permalink-tweet,
.stream.suggested-tweet-stream.permalink-replies,
.tweet-text,
.modal-title,
.bio-container .bio,
.ProfileNameTruncated,
.account-group .fullname,
.ProfileListItem-bio.u-dir {
    color: #fff !important
}

.fullname {
    color: #459BE6 !important
}

.inline-reply-tweetbox.swift,
.stream.suggested-tweet-stream.permalink-replies,
.ThreadedConversation,
.ThreadedConversation-showMore:after,
.ThreadedConversation-viewOther .view-other-link,
.ThreadedConversation,
.ThreadedConversation-showMore,
.ThreadedConversation-showMore:after,
.ThreadedConversation+.ThreadedConversation--loneTweet,
:not(.ThreadedConversation--ownReply)+.ThreadedConversation--ownReply,
.ThreadedConversation--ownReply+.ThreadedConversation--loneTweet:not(.ThreadedConversation--ownReply),
.ThreadedConversation--loneTweet:first-child {
    border-color: #324554 !important
}

.caret-inner {
    border-bottom-color: #2c4158 !important
}

.caret-outer,
.caret-inner {
    border-color: transparent !important
}

.photo-tagging-controls.user-select-controls {
    background-color: #fff !important
}

.typeahead-user-item-info .fullname {
    color: #fff !important
}

.keyboard-shortcuts th {
    color: #fff !important
}

.sc-key {
    box-shadow: none !important
}

.content-header .header-inner,
.content-inner,
.DashboardProfileCard,
#settings_nav li a,
#notifications-optout-all-top,
.notification-prompt.notifications-web-soft-prompt,
.find-friends-top-subheader,
.find-friends-sources,
.stream-end-inner,
.stream-item {
    background-color: #1B2836 !important
}

.find-friends-list li:hover {
    background-color: #2c4158 !important
}

#settings_nav .list-link,
.control-label,
.DashboardProfileCard-name,
.settings-header,
.t1-label,
#notifications-optout-all-top,
.notification-prompt.notifications-web-soft-prompt,
.find-friends-top-subheader,
.source,
.content,
.FacebookConnect-title,
.controls,
#content-main-heading,
.header-cell.application-column,
.header-cell.date-column,
.header-cell.ip-column,
.view-toggler .active,
.Icon--device {
    color: #fff !important
}

.t1-select,
.controls input {
    color: #000
}

.supported-text,
.application-column,
.date-column,
.ip-column {
    color: #8899a6
}

#settings_nav .list-link:hover,
.QuoteTweet .tweet-content,
.QuoteTweet-text a,
.QuoteTweet-text a:hover,
.QuoteTweet-text a:focus,
.QuoteTweet-text a:active,
.QuoteTweet-text .pretty-link b,
.QuoteTweet-text .pretty-link s,
.QuoteTweet-text .pretty-link:hover b,
.QuoteTweet-text .pretty-link:hover s,
.QuoteTweet-text .pretty-link:focus b,
.QuoteTweet-text .pretty-link:focus s,
.QuoteTweet-text .pretty-link:active b,
.QuoteTweet-text .pretty-link:active s {
    color: #459BE6 !important
}

.flex-module {
    background-color: #1B2836 !important
}

.message {
    background-color: #2c4158 !important
}

.message-text {
    color: #fff !important
}

body.logged-out {
    background-color: #2c4158 !important
}

.MomentGuideNavigation-label,
.MomentGuideVTwoCapsuleSummary-title,
.MomentCapsuleCover-title {
    color: #fff !important
}

.MomentsGuidePage-content,
.MomentGuideNavigation,
.MomentGuideVTwoCapsuleGroup .MomentGuideVTwoCapsuleSummary--portrait,
.MomentGuideVTwoCapsuleSummary--hero,
.MomentCapsuleVTwoItemTweet--withText,
.MomentGuideVTwoCapsuleSummary.MomentGuideVTwoCapsuleSummary--small,
.ListCreationModule {
    background-color: #1B2836 !important
}

.MomentsPage.MomentsPermalinkPage,
.MomentsPage.MomentsGuidePage {
    background-color: #2c4158 !important
}

.MomentGuideVTwoCapsuleSummary-description,
.MomentUserByline-fullname,
.MomentCapsuleCover-description {
    color: #9cabb5 !important
}

.MomentsPage.MomentsPermalinkPage,
.MomentsPage.MomentsGuidePage {
    background-color: #2c4158 !important
}

.QuoteTweet-fullname.u-linkComplex-target,
.MomentSportsScores-contentWrapper {
    color: #fff
}

.MomentCapsuleSummary-details {
    background-color: #1B2836
}

.MomentCapsuleSummary-title {
    color: #fff
}

.MomentCapsuleSummary-title:hover {
    text-decoration: none
}

.MomentCapsuleItemTweet--withText {
    background-color: #3d5566
}

.u-dir[dir="ltr"] {
    color: #fff
}

._timestamp,
.js-short-timestamp,
.js-relative-timestamp {
    color: #fff
}

.MomentCapsuleItemTweet-date {
    color: #fff
}

.MomentCapsuleItemTweet--withMedia {
    background-color: #3d5566;
    padding: 5px
}

.TwitterCard .MomentCard {
    background-color: #2c4158
}

.trends-current-location {
    color: #8899a6 !important
}

.Trends,
.WhoToFollow,
.AdaptiveRelatedSearches,
.SidebarFilterModule,
.AdaptiveFiltersBar {
    background-color: #1b2836
}

.search.advanced-search {
    background-color: #1b2836
}

.search.advanced-search h1,
.search.advanced-search span {
    color: #fff
}

.search.advanced-search .input-daterange .input-group-addon {
    background-color: #1b2836
}

.PollXChoice-choice--chart {
    background-color: #2c4158 !important
}

.ep-Section,
.ep-ColumnLeft,
.ep-ColumnRight {
    background-color: #2c4158;
    color: #fff
}

.ep-Header .ep-Title,
.ProfileTweet-fullname,
.ep-TweetPerformance.ep-Section .ep-Metric .ep-MetricTopContainer,
.ep-TweetPerformance.ep-Section .ep-EngagementsTable .ep-EngagementsTableHeader {
    color: #fff
}

.ProfileListItem {
    background-color: #1B2836
}

.LiveVideoOfficialAccount,
.LiveVideo-tweetBox {
    background-color: #1B2836
}

.LiveVideoDetails-title {
    color: #fff
}

.ThreadedConversation-moreReplies {
    background-color: #2c4158
}

.Gallery.with-tweet .GalleryTweet.enable-fade .content>* {
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    transition: opacity .25s ease-in, visibility .25s ease-in;
    visibility: hidden
}

.Gallery.with-tweet .GalleryTweet.enable-fade .stream-item-footer {
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    visibility: visible
}

.Gallery.with-tweet .GalleryTweet .tweet,
.Gallery.with-tweet .Gallery-content:hover .GalleryTweet.enable-fade .tweet {
    background-color: rgba(20, 29, 38, 0.5) !important;
    opacity: 1
}

.Gallery.with-tweet .GalleryTweet.enable-fade .tweet {
    background-color: rgba(20, 29, 38, 0) !important
}

.ext-notification {
    position: fixed;
    background-color: papayawhip;
    padding: 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #1B2836;
    z-index: 9999
}
#scrollTopTwitter {
    position: fixed;
    top: 0;
    height: 100%;
    cursor: pointer;
    background-color: rgb(0, 174, 180);
    opacity: 0;
    border-radius: 4px 4px 0 0;
}